<div class="container page">
<h3>User detials</h3>

  <table class="table  table-responsive table-trapped">

          <thead>
                <tr>

                    <th>UserName</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
          </thead>
          <tbody>
                <tr *ngFor= "let user of data| paginate:{ id: 'listing_pagination',
                      itemsPerPage: 7,
                      currentPage: page,
                      totalItems: totalRecords}">
                  <td>{{user.UserName}}</td>
                  <td>{{user.Email}}</td>
                  <td>{{user.Mobile}}</td>
                  <!-- <td><a class="action-btn" routerLink= '/update' >
                    <i class="material-icons">edit</i>
                  </a></td> -->
                  <td><a class="action-btn " (click)= "OnDelete(user.UserName)">
                    <i class="material-icons">delete</i>
                  </a></td>
                  <td><div class="container">
                    <button type="button" class="btn btn-primary" (click) = "show(user)">edit</button>
                     </div>
                  <!-- Creates the bootstrap modal where the image will appear -->
                  <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- <div class="modal-body"> -->
                        <form class="update-form" #updateForm ="ngForm" (ngSubmit)= "Onsubmit(updateForm)">
                          <h1>Modeify Here..!!</h1>
                            <div class="form-group">
                                  <input type="text" class="form-control" ngDefaultControl= 'user' [placeholder] ='name' required  name="username"  #username= 'ngModel' ngModel pattern='^[a-zA-Z\-]+$' >
                                  <span class="help-block" *ngIf= "username.touched && username.invalid">please enter the valid Username</span>
                                  <span class="help-block" *ngIf= "showw">Invaild Username</span>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" #email ="ngModel" ngModel pattern= '(^[a-z\d-]+)@([a-z]+)\.([a-z]{2,6})$'>
                                <span class="help-block" *ngIf= "email.invalid">please Enter the valid Email</span>
                            </div>
                            <div class="form-group">
                                <input type="mobile" class="form-control" placeholder= "Mobile"  name="mobile" #mobile ="ngModel" ngModel pattern= '^(0|[+91]{3})?[7-9][0-9]{9,12}$'>
                                <span class="help-block" *ngIf= "mobile.invalid">please Enter the valid Mobilenumber</span>
                            </div>
                          <button class="btn btn-success btn-block" type="submit" [disabled]= "!updateForm.valid">Submit</button>
                          <button class="btn btn-primary btn-block" data-dismiss="modal" (click) = "hide()">BACK</button>
                    </form>


                 </div>

                    </div>
                  </div>
                  <!-- </div> -->
                </td>


                </tr>
          </tbody>
  </table>
  <div>
    <pagination-controls id="listing_pagination" maxSize='5' directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>




